@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.maindiv{
    width: 700px;
    background-color: rgb(9, 11, 26);
    position: absolute;
    margin: 100px auto;
    margin-left: 20%;
    padding: 130px 70px;
    box-sizing: content-box;
    padding-top: 0px;
}
.leftdiv{
    display: inline-block;
    width: 330px;
    height: 260px;
    background-color: rgb(27, 25, 56);
    position: relative;
    top: 49px;
}
.imagerightdiv{
    display: inline-block;
    width: 330px;
    height: 260px;
    translate: -4px;
    position: relative;
    top: 84.1px;
    background-color: rgb(170, 92, 219);
}
.imagerightdiv > img{
    width: 330px;
    height: 260px;
    position: relative;
    top: 0px;
    mix-blend-mode: multiply;
    
}
div.h3 >p{
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: Inter;
    
}
div.h3 >p>span{
    color: rgb(170, 92, 219);
}
.h3{
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 20px;
}
div.para1 > p{
    font-size: 9px;
    font-family: Inter;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    padding-left: 45px;
}
.numbers div{
    display: inline-block;
    margin-top: 50px;
    font-size: 14px;
    font-weight: 700;
    font-family: Inter;
    color: white;
    margin-left: 45px;
}
.numbers span{
    color: rgba(255, 255, 255, 0.75);
    font-size: 7px;
    font-weight: 400;
}